
.card-container
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}
.card-content
{
    background-color: #fff;
    padding: 6px 10px;
    margin: 5px auto;
    border-radius: 10px;
    max-width: 500px;
    transition: all 0.3s ease;
    word-wrap: break-word;
}
.user-details
{
    display: flex;
    gap: 10px;
}

.user-pic
{
    border-radius: 50%;
}

.username
{
    letter-spacing: 1px;
    font-size: 15px ;
    font-weight: 600;
}

.user-bio, .user-timeline
{
font-size:10px ;
letter-spacing: 1px;
color: #a5998d;
}

.text-content
{
    font-size: 16px;
    line-height: 1.5;
    white-space: pre-wrap;
    padding: 6px 0px ;
}
.image-content
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.post-image
{
width: 100%;
max-width: 100%;
height: auto;
border-radius: 8px;
object-fit: cover;
}


.react-stats
{
    display: flex;
    justify-content: space-between;
    padding:4px 0px ;
}

.horz-line
{
    height: 1px;
    background-color: #a5a4a2;
    border: none;
    margin-bottom:2px;
}
.reactions-button
{
    display: flex;
    padding-top: 4px ;
    /* gap: 10px; */
    justify-content: space-between;
}

.btn
{
    flex: 1;
display: flex;
justify-content: center;
align-items: center;
padding: 10px 0px;
gap: 5px;
background-color: transparent;
border: none;
font-size: 14px;
transition: background-color 0.2s ease;
}

.reactions-button .btn:hover{
background-color: #f0f0f0;
}

.toggle-btn{
background-color: transparent;
border: none;
color:rgb(158, 156, 156);
font-weight: 500;
cursor: pointer;
padding-left:4px;
}
/* 
.popup
{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position:fixed;
    bottom: 30px;
    left: 30px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #ffffff;
    z-index: 999;
    font-size: 1.1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} */