@import "tailwindcss";
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-bg:#f8e8e8;
 --color-navbar-bg:#fff;
 --nav-textColor :#8e8e8e;
 /* --color-accent:; */
 /* --font-main:; */
 /* --font-heading: */
}
body{
  background-color: var(--color-bg);
}