/* 
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */

/* .create-container
{
     display: flex;
     margin: 10px auto;
     justify-content: center;
     width: 100%;
     /* border-bottom: 1px solid #9a9999; */
     


/* .create-content
{  
    max-width:500px;
    width: 100%;
    background-color: #fff;
    margin-top:15px ;
    border: none;
    border-radius: 10px;
    background-color: rgb(44, 169, 169);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #c7c7c7;

} */

/* .first-row
{
    display: flex;
    justify-content:space-around;
    padding: 5px;
    margin: 10px;
    gap:10px;
    align-items:center;
} */

/* .post-bar-container
{
    width: 100%;
} */
/* .post-space{
    padding: 12px 10px;
    border: 1px solid rgb(199, 197, 197);
    border-radius: 18px;
    width:100%;
} */

/* .user
{
    border-radius: 50%;
} */